body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

form > div {
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}

button:active {
  background-color: #005cbf;
}

button[type="button"] {
  background-color: #6c757d;
}

button[type="button"]:hover {
  background-color: #5a6268;
}

button[type="button"]:active {
  background-color: #545b62;
}
.clickable {
  cursor: pointer;
  text-decoration: underline;
}
